target/
.idea/
*.iml
*.class
src/test/resources/_config.properties
reports/
.DS_Store
src/.DS_Store
src/test/.DS_Store
chromedriver
selenium-server.jar
chromedriver-mac-arm64/
chromedriver-mac-arm64.zip
reports/
